<footer>
        <div class="first-block">
            <img src="assets/imagens/logo-com-tagline.png" alt="Logo da aplicação Jornada de Milhas">
            <h1>Horário de atendimento: 08h - 20h (Segunda a Sábado)</h1>
            <h1>Desenvolvido por Diogo Valente. Projeto fictício sem fins comerciais.</h1>
        </div>

        <div class="second-block">
            <h1>Acesse nossas redes:</h1>
            <figure>
                <img src="assets/icones/whatsapp.png" alt="Logo do Whatsapp">
                <img src="assets/icones/instagram.png" alt="Logo do Instagram">
                <img src="assets/icones/twitter.png" alt="Logo do Twitter">
            </figure>
        </div>
</footer>